$phone-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1024px;

$white: #fff;
$black: #000;
$gray: #757575;

// Sizes
$base-vertical-proportion--mobile: 30px;
$base-vertical-proportion: 32px;
$top-part-height--mobile: 400px;
$top-part-height: 240px;
$input-height: 50px;
$horizontal-indent--mobile: 20px;
$horizontal-indent: 30px;
